<div class="container contact">
  <!-- O título é renderizado de acordo com a condicional que indentifica
  se estamos no modo de edição ou em um novo cadastro -->
  <h5 #titulo [ngClass]="{'modo-edicao': modoEdicao}">
    {{ modoEdicao ? 'Edição do alimento ' + descricao : 'Cadastro de Alimentos' }}
  </h5>
  
  <div class="spacing"></div>

  <form class="col s12" #form="ngForm" (ngSubmit)="onButtonClick()">
    <div class="row">
      <div class="input-field col s12">

        <input
          id="input-descricao"
          name="input-descricao"
          type="text"
          class="validate"
          [(ngModel)]="descricao"
          pattern="^[A-Za-z]+$"
          required
        />
        <label for="input-descricao">Descrição *</label>
        <div class="red-text" [hidden]="form.controls['input-descricao'].valid || form.controls['input-descricao'].untouched">
          Por favor, informe uma descrição válida contendo apenas letras.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input
          id="input-quantidade"
          name="input-quantidade"
          type="text"
          class="validate"
          [(ngModel)]="quantidade"
          pattern="^[0-9]+$"
          required
        />
        <label for="input-quantidade">Quantidade *</label>
        <div class="red-text" [hidden]="form.controls['input-quantidade'].valid || form.controls['input-quantidade'].untouched">
          Por favor, informe uma quantidade válida contendo apenas números.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input
          id="input-unidade"
          name="input-unidade"
          type="text"
          class="validate"
          [(ngModel)]="unidade"
          pattern="^[A-Za-z]+$"
          required
        />
        <label for="input-unidade">Unidade *</label>
        <div class="red-text" [hidden]="form.controls['input-unidade'].valid || form.controls['input-unidade'].untouched">
          Por favor, informe uma unidade válida contendo apenas letras.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input
          id="input-validade"
          name="input-validade"
          type="date"
          class="validate"
          [(ngModel)]="validade"
          required
        />
        <label for="input-validade">Validade *</label>
        <div class="red-text" [hidden]="form.controls['input-validade'].valid || form.controls['input-validade'].untouched">
          Por favor, informe uma data de validade.
        </div>
      </div>
    </div>

    <button #cadastrarButton class="btn waves-effect waves-light red darken-4"
    type="submit"
    [disabled]="!form.valid"
    >
      Cadastrar
      <i class="material-icons right">send</i>
    </button>
  </form>

  <app-total-alimentos></app-total-alimentos>

  <div class="spacing"></div>

  <!-- Dados interpolados - apresentam os dados cadastros através de interpolação 
  em uma tabela -->
  <div class="dados-interpolados">
  <h5>Dados Interpolados</h5>
  <table>
    <thead>
      <tr>
        <th>Campo</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{ this.id }}</td>
      </tr>
      <tr>
        <td>Descrição</td>
        <td>{{ this.descricao }}</td>
      </tr>
      <tr>
        <td>Quantidade</td>
        <td>{{ this.quantidade }}</td>
      </tr>
      <tr>
        <td>Unidade</td>
        <td>{{ this.unidade }}</td>
      </tr>
      <tr>
        <td>Validade</td>
        <td>{{ this.validade }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="spacing"></div>

<!-- Dados API - apresentam os dados cadastrados via API -->
<div class="dados-API">
  <h5>Dados API</h5>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Descrição</th>
        <th>Quantidade</th>
        <th>Unidade</th>
        <th>Validade</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of alimentos$ | async">
        <td>{{ item.id !== undefined ? item.id : 'N/A' }}</td>
        <td>{{ item.descricao }}</td>
        <td>{{ item.quantidade }}</td>
        <td>{{ item.unidade }}</td>
        <td>{{ item.validade }}</td>
        <td>
          <button class="btn waves-effect waves-light" (click)="onEditButtonClick(item.id !== undefined ? item.id : -1)">Editar</button>
          <button class="btn waves-effect waves-light red" (click)="onDeleteButtonClick(item.id !== undefined ? item.id : -1)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="spacing"></div>

  <!-- Dados Local - apresentam os dados armazenadas localmente -->
<div class="dados-localstorage">
  <h5>Dados Armazenados Localmente</h5>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Descrição</th>
        <th>Quantidade</th>
        <th>Unidade</th>
        <th>Validade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of alimentosLocais$ | async; let i = index">
        <td>{{ item.id }}</td>
        <td>{{ item.descricao }}</td>
        <td>{{ item.quantidade }}</td>
        <td>{{ item.unidade }}</td>
        <td>{{ item.validade }}</td>
        <td>
          <button class="btn waves-effect waves-light red" (click)="onDeleteLocalButtonClick(i)">Excluir Local</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="spacing"></div>

</div>
