<div class="container">
  <h5>Consulta de Alimentos</h5>
  <button class="btn waves-effect waves-light red darken-4" (click)="novoRegistro()">Novo</button>

  <!-- Tabela para os itens armazenados via API -->
  <h5>Itens Armazenados via API</h5>
  <table class="striped">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Quantidade</th>
        <th>Unidade</th>
        <th>Validade</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of alimentos$ | async; let i = index">
        <td>{{ item.descricao }}</td>
        <td>{{ item.quantidade }}</td>
        <td>{{ item.unidade }}</td>
        <td>{{ item.validade }}</td>
        <td>
          <button class="btn waves-effect waves-light" (click)="editarRegistro(item)">Editar</button>
          <button class="btn waves-effect waves-light red darken-4" (click)="excluirRegistro(item)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Tabela para os itens armazenados localmente -->
  <h5>Itens Armazenados Localmente</h5>
  <table class="striped">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Quantidade</th>
        <th>Unidade</th>
        <th>Validade</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of alimentosLocais$ | async; let i = index">
        <td>{{ item.descricao }}</td>
        <td>{{ item.quantidade }}</td>
        <td>{{ item.unidade }}</td>
        <td>{{ item.validade }}</td>
        <td>
          <button class="btn waves-effect waves-light red darken-4" (click)="excluirRegistroLocal(item)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
