<div class="container">
  <div class="row">
    <div class="col s12">
      <h5>Sobre o Sistema</h5>
      <p>Sistema desenvolvido por Jean Pizani Sanguim para o curso de Especialização em Tecnologia Java - UTFPR visando o gerenciamento de alimentos, permitindo o cadastro, edição, exclusão e consulta dos alimentos.</p>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <img src="./assets/resources/images/utfpr.png" alt="Imagem do Sistema" class="responsive-img">
    </div>
  </div>
  <div class="row">
    <div class="fundo-cinza">
      <p class="texto-vermelho">No momento, temos um total de Alimentos Cadastrados: {{ alimentos.length }}</p>
      <p class="texto-vermelho">(exemplo de transferência de dados por meio de services, entre componentes não relacionados)</p>
    </div>
  </div>
</div>
